## every minute send the current time and the updated ip address to ec2 instance
* * * * * /bin/bash /Users/seanwayland/Desktop/where_am_i/send_ip_to_file.sh
* * * * * /bin/bash /Users/seanwayland/Desktop/where_am_i/crontest.sh
